<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time tracking</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha/leaflet.min.css"
        integrity="sha512-gR7O2N+omMZHTHew3GRgMqd2a53JFXPBpRto0ItoS8d+b6AVE8q+kvOktpsP6yyo3Ips2UK1lkEacu6OWS5k+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="anonymous" />

</head>

<body>
    <div id="map"></div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/2.0.0-alpha/leaflet-global-src.min.js"
        integrity="sha512-qiolBAKSZ1KDHdwLDOuH/tniJfEqm+StFmEgCqFv/pVMUwUGZ7RkvXTwLQzVhUQBNULuVkYaORAsreNGrsq/fg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin="anonymous"></script>


        <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>
        
        <script src="/js/script.js"></script>



</body>

</html>